.imageZoo {
    background-image: url(../img/zoo.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.bg-light {
    --bs-bg-opacity:0.5;
}
.linkCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5vw;
    justify-items: stretch;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 80vw;
    margin: auto;
}
.card{
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}
.btn-primary{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border: transparent;
}
.btn-primary:hover{
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border: transparent;
}
h1{
    text-align: center;
    color:gold;
    height: 3rem;
}
h2{
    text-align: center;
    color: gold;
    height: 2.5rem;
    padding: 3vh 0;
}
h3{
    text-align: center;
    color: gold;
    height: 2rem;
}
h4{
    text-align: center;
    color: gold;
    height: 1.5rem;
}
h5{
    text-align: center;
    color: gold;
    height: 1rem;
}
.lion img{
    width: 40%;
}
.girafe img{
    width: 40%;
}
.zebre img{
    width: 30%;
}
p{
    color: linen;
}
.savane{
    background: url(../img/ok-savane-paysage-ouverture-pix.jpg);
    color: black;
    padding: 3vh 0;
}

.ocean{
    background-image: url(../img/téléchargement.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}