.imageZoo {
    background-image: url(../img/zoo.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.navbarNav{
    text-align: center;
}
.bg-light {
    --bs-bg-opacity:0.5;
}
.linkCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5vw;
    justify-items: stretch;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 80vw;
    margin: auto;
}
.card{
    
    background-color: rgba(255, 255, 255, 0.5);
}
.btn-primary{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border: transparent;
}
.btn-primary:hover{
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border: transparent;
}